{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'apply.css' %}">
{% endblock %}


{% block content %}

<div class="wrapper" id="form-pds">
    <div class="title">
        <h4>I. PERSONAL INFORMATION</h4>
    </div>
    <form action="/apply/other-forms"  id="personal_info_form"
          data-provinces-url="{% url 'ajax_load_provinces' %}" data-citymun-url="{% url 'ajax_load_citymun' %}" data-brgy-url="{% url 'ajax_load_brgy' %}"
          data-provinces-url_per="{% url 'ajax_load_provinces_per' %}" data-citymun-url_per="{% url 'ajax_load_citymun_per' %}" data-brgy-url_per="{% url 'ajax_load_brgy_per' %}" method="post">
        {% csrf_token %}
        <div class="contact-form">
            <div class="input-fields">

                <div class="form-group">
                    <label class="redlabel"><b>*</b></label><label>SUR NAME:</label>
                    <span class="redlabel redlabel" id="sur_name_error_message"></span>
                    <input type="text" class="form-control" id="sur_name" name="sur_name">
                    <label class="redlabel"><b>*</b></label><label>FIRST NAME:</label>
                    <span class="redlabel" id="first_name_error_message"></span>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                    <label>MIDDLE NAME:</label>
                    <span class="redlabel" id="middle_name_error_message"></span>
                    <input type="text" class="form-control" id="middle_name" name="middle_name">
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>NAME EXTENSION:</label>
                        <span class="redlabel" id="name_ext_error_message"></span>
                        <select class="form-control" name="name_ext" id="name_ext">
                            <option value=""></option>
                            <option value="0">Jr.</option>
                            <option value="1">Sr.</option>
                            <option value="2">I</option>
                            <option value="3">II</option>
                            <option value="4">III</option>
                            <option value="5">IV</option>
                        </select>
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>DATE OF BIRTH:</label>
                        <span class="redlabel" id="date_of_birth_error_message"></span>
                        <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="redlabel"><b>*</b></label><label>PLACE OF BIRTH:</label>
                    <span class="redlabel" id="pace_of_birth_error_message"></span>
                    <input type="text" class="form-control" id="pace_of_birth" name="pace_of_birth">
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label class="redlabel"><b>*</b></label><label>SEX:</label>
                        <span class="redlabel" id="sex_error_message"></span>
                        <select class="form-control" name="sex" id="sex">
                            <option value=""></option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>CIVIL STATUS:</label>
                        <span class="redlabel" id="civil_status_error_message"></span>
                        <select class="form-control" name="civil_status" id="civil_status">
                            <option value=""></option>
                            <option value="0">Single</option>
                            <option value="1">Widowed</option>
                            <option value="2">Married</option>
                            <option value="3">Separated</option>
                            <option value="4">Others</option>
                        </select>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">

                        <label class="redlabel"><b>*</b></label><label>HEIGHT(m):</label>
                        <span class="redlabel" id="height_error_message"></span>
                        <input type="text" class="form-control" id="height" name="height">
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>WEIGHT(kg):</label>
                        <span class="redlabel" id="weight_error_message"></span>
                        <input type="text" class="form-control" id="weight" name="weight">

                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label class="redlabel"><b>*</b></label><label>BLOOD TYPE:</label>
                        <span class="redlabel" id="blood_type_error_message"></span>
                        <select name="blood_type" id="blood_type" class="form-control">
                            <option value="">N/A</option>
                            <option value="O">O</option>
                            <option value="O +">O +</option>
                            <option value="O -">O -</option>
                            <option value="A">A</option>
                            <option value="A +">A +</option>
                            <option value="A -">A -</option>
                            <option value="B">B</option>
                            <option value="B +">B +</option>
                            <option value="B -">B -</option>
                            <option value="AB">AB</option>
                            <option value="AB +">AB +</option>
                            <option value="AB -">AB -</option>
                        </select>
                    </div>
                    <div class="flex-item-right">
                        <label>GSIS ID NO.:</label>
                        <span class="redlabel" id="gsis_id_no_error_message"></span>
                        <input type="text" class="form-control" id="gsis_id_no" name="gsis_id_no">
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>PAG-IBIG ID NO.:</label>
                        <span class="redlabel" id="pagibig_id_no_error_message"></span>
                        <input type="text" class="form-control" id="pagibig_id_no" name="pagibig_id_no">
                    </div>
                    <div class="flex-item-right">
                        <label>PHILHEALTH NO.:</label>
                        <span class="redlabel" id="philhealth_no_error_message"></span>
                        <input type="text" class="form-control" id="philhealth_no" name="philhealth_no">
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>SSS NO.:</label>
                        <span class="redlabel" id="sss_no_error_message"></span>
                        <input type="text" class="form-control" id="sss_no" name="sss_no">
                    </div>
                    <div class="flex-item-right">

                        <label>TIN NO.:</label>
                        <span class="redlabel" id="tin_no_error_message"></span>
                        <input type="text" class="form-control" id="tin_no" name="tin_no">
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>AGENCY EMPLOYEE NO.:</label>
                        <span class="redlabel" id="agency_employee_no_error_message"></span>
                        <input type="text" class="form-control" id="agency_employee_no" name="agency_employee_no">
                    </div>

                </div>

            </div>
            <div class="secondrow">

                <div class="flex-container">
                    <div class="flex-item-right">

                        <label class="redlabel"><b>*</b></label><label>CITIZENSHIP:</label>
                        <span class="redlabel" id="citizenship_error_message"></span>
                        <select class="form-control" name="citizenship" id="citizenship">
                            <option value=""></option>
                            <option value="0">Filipino</option>
                            <option value="1">Dual Citizenship by birth</option>
                            <option value="2">Dual Citizenship by naturalization</option>
                        </select>
                    </div>
                    <div class="flex-item-right">

                        <label class="redlabel" id="red_country_hide"><b>*</b></label><label
                            id="country_hide">COUNTRY:</label>
                        <span class="redlabel" id="citizenship_country_error_message"></span>
                        <select class="form-control" name="citizenship_country" id="citizenship_country">
                            <option value=""></option>
                            <option value="0">Filipino</option>
                            <option value="1">Dual Citizenship by birth</option>
                            <option value="2">Dual Citizenship by naturalization</option>
                        </select>
                    </div>
                </div>
                <label class="redlabel"><b>*</b></label><label>RESIDENTIAL ADDRESS:</label>
                <span class="redlabel" id="residence_error_message"></span>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <select class="form-control" name="res_reg" id="res_reg">
                            <option value=""></option>
                            {% for region in ref_region %}
                            <option value="{{ region.regCode }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="tunga">
                            <small>Region</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <select class="form-control" name="res_province" id="res_province">

                        </select>
                        <div class="tunga">
                            <small>Province</small>
                        </div>
                    </div>
                    <div class="flex-item-left">
                        <select class="form-control" name="res_city" id="res_city">

                        </select>
                        <div class="tunga">
                            <small>City/Municipality</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <select class="form-control" name="res_brgy" id="res_brgy">

                        </select>
                        <div class="tunga">
                            <small>Barangay</small>
                        </div>
                    </div>
                    <div class="flex-item-left">
                        <input type="text" class="form-control" id="res_lot_no" name="res_lot_no" placeholder="ex. 0622"
                               required>
                        <div class="tunga">
                            <small>House/Block/Lot no.</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <input type="text" class="form-control" id="res_street" name="res_street"
                               placeholder="ex. Aurora 3rd" required>
                        <div class="tunga">
                            <small>Street</small>
                        </div>
                    </div>
                    <div class="flex-item-left">
                        <input type="text" class="form-control" id="res_subd" name="res_subd"
                               placeholder="ex. Purok Rose"
                               required>
                        <div class="tunga">
                            <small>Subdivision/Village</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <input type="text" class="form-control" id="res_zipcode" name="res_zipcode" required>
                        <div class="tunga">
                            <small>Zip Code</small>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <label class="redlabel"><b>*</b></label><label>PERMANENT ADDRESS:</label>
<!--                    <label class="checkbox-inline">Same <input class="checkbox" id="same" type="checkbox"></label>-->
                    <span class="redlabel" id="permanent_error_message"></span>
                    <div class="flex-container" id="permanent_address">
                        <div class="flex-item-left">
                        <select class="form-control" name="per_reg" id="per_reg">
                            <option value=""></option>
                            {% for region in ref_region %}
                            <option value="{{ region.regCode }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="tunga">
                            <small>Region</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <select class="form-control" name="per_province" id="per_province">
                            <option value=""></option>

                        </select>
                        <div class="tunga">
                            <small>Province</small>
                        </div>
                    </div>
                    <div class="flex-item-left">
                        <select class="form-control" name="per_city" id="per_city">
                            <option value=""></option>
                        </select>
                        <div class="tunga">
                            <small>City/Municipality</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <select class="form-control" name="per_brgy" id="per_brgy">
                            <option value=""></option>
                        </select>
                        <div class="tunga">
                            <small>Barangay</small>
                        </div>
                    </div>
                        <div class="flex-item-left">
                            <input type="text" class="form-control" id="per_lot_no" name="per_lot_no" required>
                            <div class="tunga">
                                <small>House/Block/Lot no.</small>
                            </div>
                        </div>
                        <div class="flex-item-right">
                            <input type="text" class="form-control" id="per_street" name="per_street" required>
                            <div class="tunga">
                                <small>Street</small>
                            </div>
                        </div>
                        <div class="flex-item-left">
                            <input type="text" class="form-control" id="per_subd" name="per_subd" required>
                            <div class="tunga">
                                <small>Subdivision/Village</small>
                            </div>
                        </div>
                        <div class="flex-item-right">
                            <input type="text" class="form-control" id="per_zipcode" name="per_zipcode" required>
                            <div class="tunga">
                                <small>Zip Code</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>TELEPHONE NO.:</label>
                        <span class="redlabel" id="telephone_error_message"></span>
                        <input type="text" class="form-control" id="telephone" name="telephone">
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>MOBILE NO.:</label>
                        <span class="redlabel" id="mobile_no_error_message"></span>
                        <input type="text" class="form-control" id="mobile_no" name="mobile_no"
                               placeholder="ex. 9123456789">
                    </div>
                    <div class="flex-item-left">
                        <label>EMAIL ADDRESS (if any):</label>
                        <span class="redlabel" id="email_address_error_message"></span>
                        <input type="email" class="form-control" id="email_address" name="email_address">

                    </div>
                    <div class="flex-item-right">
                        <label>UPLOAD IMAGE:</label>
                        <input type="file" id="user_img" name="user_img" accept="image/*">
                    </div>

                </div>
            </div>
        </div>
        <div class="tunga">
            <!--            <button type="submit" class="btn btn-primary">BACK</button>-->
            <input type="submit" id="submit_form" value="Save & Continue" class="btn btn-success"></input>
        </div>
    </form>
</div>
<div class="loader">
    <img src="{% static 'images/25.gif' %}" alt="Loading..." />
</div>

{% block bot_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/myjs/validation.js' %}"></script>
{% endblock %}
{% endblock content%}