{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'apply.css' %}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}">
$(document).ready(function(){
    $("#same").change(function(){
        if(this.checked){
        console.log("hey");
            $('#permanent_address').show();
        }else{
            $('#permanent_address').hide();
        }
    });
});








</script>
{% endblock %}


{% block content %}

<div class="wrapper" id="form-pds">
    <div class="title">
        <h4>I. PERSONAL INFORMATION</h4>
    </div>
    <form action="/save" method="post">
        <div class="contact-form">
            <div class="input-fields">

                <div class="form-group">
                    <label class="redlabel"><b>*</b></label><label>SUR NAME:</label>
                    <input type="text" class="form-control" id="sur_name" required>
                    <label class="redlabel"><b>*</b></label><label>FIRST NAME:</label>
                    <input type="text" class="form-control" id="first_name" required>
                    <label>MIDDLE NAME:</label>
                    <input type="text" class="form-control" id="middle_name">
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>NAME EXTENSION:</label>
                        <select class="form-control" name="name_ext" id="name_ext" readonly>
                            <option value=""></option>
                            <option value="0">Jr.</option>
                            <option value="1">Sr.</option>
                            <option value="2">I</option>
                            <option value="3">II</option>
                            <option value="4">III</option>
                            <option value="5">IV</option>
                        </select>
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>DATE OF BIRTH:</label>
                        <input type="date" class="form-control" id="dob" required>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="flex-item-left">
                        <label class="redlabel"><b>*</b></label><label>SEX:</label>
                        <select class="form-control" name="gender" id="gender" readonly>
                            <option value=""></option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>CIVIL STATUS:</label>
                        <select class="form-control" name="civil_status" id="civil_status" readonly>
                            <option value=""></option>
                            <option value="0">Single</option>
                            <option value="1">Widowed</option>
                            <option value="2">Married</option>
                            <option value="3">Separated</option>
                            <option value="4">Others</option>
                        </select>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label class="redlabel"><b>*</b></label><label>HEIGHT(m):</label>
                        <input type="text" class="form-control" id="height" required>
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>WEIGHT(kg):</label>
                        <input type="text" class="form-control" id="weight" required>

                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>GSIS ID NO.:</label>
                        <input type="text" class="form-control" id="gsis_id">
                    </div>
                    <div class="flex-item-right">
                        <label>PAG-IBIG ID NO.:</label>
                        <input type="text" class="form-control" id="pagibig_id">
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>PHILHEALTH NO.:</label>
                        <input type="text" class="form-control" id="philhealth_id">
                    </div>
                    <div class="flex-item-right">
                        <label>SSS NO.:</label>
                        <input type="text" class="form-control" id="sss_id">
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>TIN NO.:</label>
                        <input type="text" class="form-control" id="tin_id">
                    </div>
                    <div class="flex-item-right">
                        <label>AGENCY EMPLOYEE NO.:</label>
                        <input type="text" class="form-control" id="employee_id">
                    </div>
                </div>


            </div>
            <div class="secondrow">
                <div class="form-group">
                    <label class="redlabel"><b>*</b></label><label>CITIZENSHIP:</label>
                    <select class="form-control" name="citizenship" id="citizenship" readonly>
                        <option value=""></option>
                        <option value="0">Filipino</option>
                        <option value="1">Dual Citizenship by birth</option>
                        <option value="2">Dual Citizenship by naturalization</option>
                    </select>
                </div>
                <label class="redlabel"><b>*</b></label><label>RESIDENTIAL ADDRESS:</label>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <input type="text" class="form-control" id="res_lot_no">
                        <div class="tunga">
                            <small>House/Block/Lot no.</small>
                        </div>
                    </div>
                    <div class="flex-item-left">
                        <input type="text" class="form-control" id="res_street">
                        <div class="tunga">
                            <small>Street</small>
                        </div>
                    </div>
                    <div class="flex-item-left">
                        <input type="text" class="form-control" id="res_subd">
                        <div class="tunga">
                            <small>Subdivision/Village</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <input type="text" class="form-control" id="res_brgy">
                        <div class="tunga">
                            <small>Barangay</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <input type="text" class="form-control" id="res_city">
                        <div class="tunga">
                            <small>City/Municipality</small>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <input type="text" class="form-control" id="res_province">
                        <div class="tunga">
                            <small>Province</small>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <label class="redlabel"><b>*</b></label><label>PERMANENT ADDRESS:</label>
                    <label class="checkbox-inline">Same <input class="checkbox" id="same" type="checkbox"></label>
                    <div class="flex-container" id="permanent_address">
                        <div class="flex-item-left">
                            <input type="text" class="form-control" id="per_lot_no">
                            <div class="tunga">
                                <small>House/Block/Lot no.</small>
                            </div>
                        </div>
                        <div class="flex-item-left">
                            <input type="text" class="form-control" id="per_street">
                            <div class="tunga">
                                <small>Street</small>
                            </div>
                        </div>
                        <div class="flex-item-left">
                            <input type="text" class="form-control" id="per_subd">
                            <div class="tunga">
                                <small>Subdivision/Village</small>
                            </div>
                        </div>
                        <div class="flex-item-right">
                            <input type="text" class="form-control" id="per_brgy">
                            <div class="tunga">
                                <small>Barangay</small>
                            </div>
                        </div>
                        <div class="flex-item-right">
                            <input type="text" class="form-control" id="per_city">
                            <div class="tunga">
                                <small>City/Municipality</small>
                            </div>
                        </div>
                        <div class="flex-item-right">
                            <input type="text" class="form-control" id="per_province">
                            <div class="tunga">
                                <small>Province</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <label>TELEPHONE NO.:</label>
                        <input type="text" class="form-control" id="tel_no">
                    </div>
                    <div class="flex-item-right">
                        <label class="redlabel"><b>*</b></label><label>MOBILE NO.:</label>
                        <input type="text" class="form-control" id="mobile_no">
                    </div>
                </div>
                <label>EMAIL ADDRESS (if any):</label>
                <input type="text" class="form-control" id="email_address">

            </div>

        </div>
        <div class="tunga">
            <button type="submit" class="btn btn-primary">BACK</button>
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </form>
</div>

{% endblock content%}